
body {
    margin: 0;
}
nav {
    background-color: aquamarine;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: border;
    font-size: 24px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, Geneva, Tahoma, sans-serif"

}
/*   nth-child(1) serve para escolher o elemento que eu quero selencionar */
nav a:nth-child(1){
    color: darkcyan;
}

nav a:hover {
    background: black;
    opacity: 0.5;
    color: yellow;
    text-transform: uppercase;
    padding: 16px;
}

header {
    width: 100%;
    height: 100px;
    background-image: url(../beluga-site/img/size_960_16_9_baleia-beluga.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    
}

header h1{
    margin: 0 auto;
    color: gainsboro;
    text-transform: uppercase
}
section {
    width: 100%;
    height: 340px;
    background: red;
    display: flex;
    justify-content: center;
}
section div {
    width: 250px;
    height: 100%;
    background: yellow;
    display: flex;
    flex-direction: column; /* */
    align-items: center;
    margin-top: 1px;
    border-radius: 20px;
    justify-content: space-around;
    
   
    
}

section div input {
    border-radius: 10px;
    border: none;
    padding: 10px
}

section div input::placeholder{
    color: yellowgreen;
    
}
section div input:focus{
    background-color: aqua
}

section div button {
    cursor: pointer;
    width: 100px;
    height: 25px;
    border: none;
    background-color: orange;
    color: wheat
}